<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>关于界面：改造 ProductList 界面 &mdash; Practical Django 1.3 文档</title>
    
    <link rel="stylesheet" href="../_static/flasky.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="top" title="Practical Django 1.3 文档" href="../index.html" /> 
  </head>
  <body role="document">
  
  


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="productlist">
<h1>关于界面：改造 ProductList 界面<a class="headerlink" href="#productlist" title="永久链接至标题">¶</a></h1>
<p>有了上一节关于 Django 模板的基础，改造界面就很容易理解了。将界面设计师设计的页面中的内容根据复用程度分别放到基础模板 <cite>base.html</cite> 和专用模板 <cite>productlist.html</cite> 中。</p>
<div class="highlight-python"><div class="highlight"><pre><span></span># depot/templates/base.html

&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt;
&lt;head&gt;
  &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot;&gt;
  &lt;meta name=&quot;description&quot; content=&quot;a depot implement with Django&quot;/&gt;
  &lt;meta name=&quot;keywords&quot; content=&quot;django,depot&quot; /&gt;
  &lt;meta name=&quot;author&quot; content=&quot;Holbrook(http://hi.csdn.net/space-2668.html)&quot; /&gt;
  &lt;title&gt;{% block title %} 标题 {% endblock %}&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/static/css/bootstrap.min.css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;container&quot;&gt;
    {% block content %}
    内容
    {% endblock %}
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre></div>
</div>
<p>base作为整个网站的基础布局，包含了所有页面都需要的bootstrap.min.css。同时设置了两个内容块（title, content)。在productlist.html中替换这两个内容块：</p>
<div class="highlight-python"><div class="highlight"><pre><span></span># depot/templates/depotapp/list_product.html

{% extends &quot;base.html&quot; %}

{% block title %} 产品清单 {% endblock %}

{% block content %}

&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;page-header&quot;&gt;
  &lt;h2&gt;产品清单&lt;/h2&gt;
  &lt;/div&gt;

  {% for item in list_items.object_list %}
  &lt;div class=&quot;row&quot; style=&quot;padding-top:10&quot;&gt;
    &lt;div class=&quot;span3 media-grid&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;thumbnail&quot; src=&quot;{{item.image_url}}&quot; alt=&quot;&quot;&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;span-two-thirds&quot;&gt;
      &lt;h4&gt;{{item.title}}&lt;/h4&gt;
      {{item.description}}
    &lt;/div&gt;
    &lt;div class=&quot;span2&quot; style=&quot;align:right&quot;&gt;
      &lt;p&gt;&lt;a class=&quot;btn primary&quot; href=&quot;{% url depotapp.views.view_product item.id %}&quot;&gt;查看&lt;/a&gt;&lt;/a&gt; &lt;/p&gt;
      &lt;p&gt;&lt;a class=&quot;btn success&quot; href=&quot;{% url depotapp.views.edit_product item.id %}&quot;&gt;编辑&lt;/a&gt; &lt;/p&gt;
      &lt;p&gt;&lt;a class=&quot;btn danger&quot; href=&quot;#&quot;&gt;删除&lt;/a&gt;&lt;/p&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  {% endfor %}

  {% if list_items.has_previous %}
    &lt;a href=&quot;?page={{ list_items.previous_page_number }}&quot;&gt;上一页&lt;/a&gt;
  {% endif %}
  &lt;span class=&quot;current&quot;&gt;
    第{{ list_items.number }}页，共{{ list_items.paginator.num_pages }}页
  &lt;/span&gt;
  {% if list_items.has_next %}
    &lt;a href=&quot;?page={{ list_items.next_page_number }}&quot;&gt;下一页&lt;/a&gt;
  {% endif %}

  &lt;p&gt;&lt;a href=&quot;{% url depotapp.views.create_product %}&quot;&gt;新增产品&lt;/a&gt;&lt;/p&gt;
{% endblock %}
</pre></div>
</div>
<p>先是声明这个模板继承自 <cite>base.html</cite>，然后是两个内容块的实现。</p>
<p>注意其中链接的写法：<cite>href=&#8221;{% url depotapp.views.view_product item.id %}&#8221;</cite>。这样定义的 href 是关联到 view 函数，而不是硬编码的 URL。在以后如果改变了 URLconf 的定义，不需要再更改模板。<strong>这个功能不是 Rails 特有的！</strong></p>
<p>关于分页的部分，无需关注，以后再说。</p>
<p>最后，认真填写一下表单，将真正的数据存到数据库，就可以在 <a class="reference external" href="http://localhost:8000/depotapp/product/list/">http://localhost:8000/depotapp/product/list/</a> 看到漂亮的界面了。</p>
<img alt="../_images/4.3_product_list.png" src="../_images/4.3_product_list.png" />
<p>例子中使用的书籍信息和图片链接均来自豆瓣读书。</p>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  
    <a href="http://github.com/xuehao/Practical_Django"><img style="position: fixed; top: 0; right: 0; border: 0;"
    src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  

  

  </body>
</html>